<div class="container mt-5">

    <h2>Reporte de Clientes</h2>
    <p>demo</p>
    
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">DNI</th>
            <th scope="col">F. Nacimiento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td><img style="width: 70px; height: auto;" [src]="cliente.imgUrl"></td>
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.apellido}}</td>
            <td>{{cliente.dni}}</td>
            <td>{{cliente.fechaNacimiento}}</td>
          </tr>
        </tbody>
      </table>

</div>