<div class="container mt-5">

    <div id="htmlData">
        <div class="row">
            <div class="col-md-6">
                <h2>Reporte de Clientes</h2>
            </div>
            <div class="col-md-6 text-right">
                <button class="btn btn-danger btn-sm m-2" (click)="downloadPDF()">Exportar PDF</button>
                <button class="btn btn-success btn-sm m-2" (click)="export()" fileName="clientes">
          Exportar XSL
        </button>
            </div>
        </div>

        <table class="table table-striped m-t4">
            <thead>
                <tr>
                    <th scope="col">Foto</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">DNI</th>
                    <th scope="col">F. Nacimiento</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td><img style="width: 70px; height: auto;" [src]="cliente.imgUrl"></td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td>{{cliente.dni}}</td>
                    <td>{{cliente.fechaNacimiento | date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>

    </div>
</div>