.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid black;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: black transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.btn-login{
    background-color: #F0845C !important;
    border: 1px solid #F0845C !important;
}

.btn-login:hover{
    background-color: #EA6F49 !important;
}

.logo{
    width: 100%;
    max-width: 300px;
}

body{
    background-image: url('/assets/wallpaper-gym.jpg');
}

.webform{
    border: 3px dashed #EA6F49;
    border-radius: 10px;
    padding: 20px;
}

.webform label{
    font-style: italic;
    color: #000000;
} 

.bordes{
    border-bottom: 3px solid #EA6F49;
    margin-bottom: 20px;
}

.titulos{
    font-size: 1.6em;
    color: #000000;
}

.table th,
.table td{
    border: 1px solid #EA6F49;
}

.card:hover,
.table tbody tr:hover,
.list-group-item:hover{
    background-color: rgb(250, 206, 192);
}

.card{
    border: 1px solid #EA6F49;
    margin: 10px;
}